<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Todo</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/all.js"></script>
  </head>
  <body ng-app="app" ng-controller="ProjectController as ctrl">
    <ion-side-menus>
      <ion-side-menu-content>
        <ion-header-bar class="bar-dark">
          <button class="toggle-projects-menu button button-icon ion-navicon" ng-click="ctrl.toggleProjects()">
          </button>

          <h1 class="active-project-title title">{{ ctrl.activeProject.title }}</h1>

          <button class="open-new-task button button-icon ion-compose" ng-click="ctrl.newTask()">
          </button>
        </ion-header-bar>

        <ion-content scroll="false"> 
          <ion-list>
            <ion-item ng-repeat="task in ctrl.activeProject.tasks">
              {{task.title}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu-content>

      <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
          <h1 class="title">Projects</h1>

          <button class="open-new-project button button-icon ion-plus" ng-click="ctrl.newProject()">
          </button>
        </ion-header-bar>
        <ion-content scroll="false">
          <ion-list>
            <ion-item ng-repeat="project in ctrl.projects" ng-click="ctrl.selectProject(project, $index)" ng-class="{active: activeProject == project}">
              {{project.title}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  </body>
</html>
